body
{
	font-family: 'Tajawal';
	font-weight: 400;
}

.text{
text-align: center;
}

.one{
	padding-top: 60px;

}

.one .container{
	z-index: 10;
	position:  relative;
}

.single{
	box-shadow: 0px 20px 60px 0px rgba(42,40,51,0.0.05);
	width: 220px;
	height: 220px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	position: relative;
}

.single:before{
	content: '';
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	border-radius: 50%;
	background-image: linear-gradient(40deg,#ff43c0 0%,#ffa95c 100%);
}

.inner{
	width: 100%;
	height: 100%;
	box-shadow: 0px 20px 40px 0px rgba(255,118,142,0.3);
	border-radius: 50%;
	position: relative;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inner h3,
.inner p{
	margin: 0;
}

.inner h3{
	color: #2a2833;
	font-weight: 600;
	font-size: 40px;
	line-height: 1em;

}

.inner p{
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 12px;
	font-weight: 500;
	color: #74727a;
	line-height: 1em;
	margin-top: 10px;
}

.gap{
	width: 50%;
	margin: 0 auto;
	margin-top: 5%;
	font-weight: 400;
}

.btn-danger{
	background-image: linear-gradient(40deg, #39aeff 0%, #3cff53 100%);
	padding: 15px 40px;
	border: none;
	border-radius: 50px;

}

.one [class*=col-]:nth-child(1) .inner {
	box-shadow: inset 0px 20px 40px 0px rgba(255,118,142,0.3);
}

.one [class*=col-]:nth-child(1) .single:before {
	box-shadow: inset 0px 20px 40px 0px rgba(255,118,142,0.3);
}

.one [class*=col-]:nth-child(2) .inner {
	box-shadow: inset 0px 20px 60px 0px rgba(141,142,255,0.3);
}

.one [class*=col-]:nth-child(2) .single:before {
	background-image: linear-gradient(40deg, #0db8ff 0%, #f332ff 100%);
}

.one [class*=col-]:nth-child(3) .inner {
	box-shadow: inset 0px 20px 40px 0px rgba(58,212,173,0.3);
}

.one [class*=col-]:nth-child(3) .single:before {
	background-image: linear-gradient(40deg, #39a3ff 0%, #3cff53 100%);
}

.one [class*=col-]:nth-child(4) .inner {
	box-shadow: inset 0px 20px 40px 0px rgba(252,215,13,0.3);
}

.one [class*=col-]:nth-child(4) .single:before {
	background-image: linear-gradient(40deg, #ffcc00 0%, #990033 100%);
}

.one [class*=col-]:nth-child(8) .inner {
	box-shadow: inset 0px 20px 40px 0px rgba(255,118,142,0.3);
}

.one [class*=col-]:nth-child(8) .single:before {
	box-shadow: inset 0px 20px 40px 0px rgba(255,118,142,0.3);
}

.one [class*=col-]:nth-child(7) .inner {
	box-shadow: inset 0px 20px 60px 0px rgba(141,142,255,0.3);
}

.one [class*=col-]:nth-child(7) .single:before {
	background-image: linear-gradient(40deg, #0db8ff 0%, #f332ff 100%);
}

.one [class*=col-]:nth-child(6) .inner {
	box-shadow: inset 0px 20px 40px 0px rgba(58,212,173,0.3);
}

.one [class*=col-]:nth-child(6) .single:before {
	background-image: linear-gradient(40deg, #39a3ff 0%, #3cff53 100%);
}

.one [class*=col-]:nth-child(5) .inner {
	box-shadow: inset 0px 20px 40px 0px rgba(252,215,13,0.3);
}

.one [class*=col-]:nth-child(5) .single:before {
	background-image: linear-gradient(40deg, #ffcc00 0%, #990033 100%);
}

.one [class*=col-]:nth-child(9) .inner {
	box-shadow: inset 0px 20px 40px 0px rgba(255,118,142,0.3);
}

.one [class*=col-]:nth-child(9) .single:before {
	box-shadow: inset 0px 20px 40px 0px rgba(255,118,142,0.3);
}

.one [class*=col-]:nth-child(10) .inner {
	box-shadow: inset 0px 20px 60px 0px rgba(141,142,255,0.3);
}

.one [class*=col-]:nth-child(10) .single:before {
	background-image: linear-gradient(40deg, #0db8ff 0%, #f332ff 100%);
}

.one [class*=col-]:nth-child(11) .inner {
	box-shadow: inset 0px 20px 40px 0px rgba(58,212,173,0.3);
}

.one [class*=col-]:nth-child(11) .single:before {
	background-image: linear-gradient(40deg, #39a3ff 0%, #3cff53 100%);
}

.one [class*=col-]:nth-child(12) .inner {
	box-shadow: inset 0px 20px 40px 0px rgba(252,215,13,0.3);
}

.one [class*=col-]:nth-child(12) .single:before {
	background-image: linear-gradient(40deg, #ffcc00 0%, #990033 100%);
}
